{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"Electron": "3.0",
					"Node": "8.0"
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-transform-runtime"
	],
	"retainLines": true,
	"comments": false,
	"sourceMaps": true
}