@charset "UTF-8";
.ubuntu {
  font-weight: normal;
  font-family: Ubuntu, Arial, Helvetica, sans-serif !important; }

.pacifico {
  font-weight: normal;
  font-family: Pacifico, Segoe, "Segoe UI", sans-serif !important; }

.hidden {
  display: none !important; }

.block {
  display: block !important; }

.inline-block {
  display: inline-block !important; }

.relative {
  position: relative !important; }

.left {
  text-align: left !important; }

.center {
  text-align: center !important; }

.right {
  text-align: right !important; }

.justify {
  text-align: justify !important; }

.middle {
  vertical-align: middle !important; }

.centerblock {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.cornerpin {
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important; }

.floatleft {
  float: left !important; }

.floatright {
  float: right !important; }

.decollapse {
  padding: 1px 0; }

.bold {
  font-weight: bold !important; }

.uppercase {
  text-transform: uppercase !important; }

.nowrap {
  white-space: nowrap; }

.pad10 {
  padding: 10px !important; }

.pad20 {
  padding: 20px !important; }

.hpad20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.tpad0 {
  padding-top: 0px !important; }

.tpad20 {
  padding-top: 20px !important; }

.tpad40 {
  padding-top: 40px !important; }

.tpad60 {
  padding-top: 60px !important; }

.bpad20 {
  padding-bottom: 20px !important; }

.bpad40 {
  padding-bottom: 40px !important; }

.vpad0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.vpad20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.hpad20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.tmarg0 {
  margin-top: 0 !important; }

.tmarg20 {
  margin-top: 20px !important; }

.hmarg20 {
  margin-left: 20px !important;
  margin-right: 20px !important; }

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v12/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw72.woff2) format("woff2"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.woff?uq8s3e") format("woff"), url("fonts/icomoon/icomoon.svg?uq8s3e#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

.icon-home:before {
  content: "\e900"; }

.icon-heart:before {
  content: "\e9da"; }

.icon-pencil:before {
  content: "\e905"; }

.icon-images:before {
  content: "\e90e"; }

.icon-connection:before {
  content: "\e91b"; }

.icon-file-empty:before {
  content: "\e924"; }

.icon-price-tag:before {
  content: "\e935"; }

.icon-location:before {
  content: "\e947"; }

.icon-keyboard:before {
  content: "\e955"; }

.icon-box-add:before {
  content: "\e95e"; }

.icon-download:before {
  content: "\e960"; }

.icon-bubbles2:before {
  content: "\e96d"; }

.icon-quotes-left:before {
  content: "\e977"; }

.icon-quotes-right:before {
  content: "\e978"; }

.icon-spinner11:before {
  content: "\e984"; }

.icon-earth:before {
  content: "\e9ca"; }

.icon-eye:before {
  content: "\e9ce"; }

.icon-plus:before {
  content: "\ea0a"; }

.icon-minus:before {
  content: "\ea0b"; }

.icon-info:before {
  content: "\ea0c"; }

.icon-cancel-circle:before {
  content: "\ea0d"; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-checkmark:before {
  content: "\ea10"; }

.icon-checkmark2:before {
  content: "\ea11"; }

.icon-play3:before {
  content: "\ea1c"; }

.icon-pause2:before {
  content: "\ea1d"; }

.icon-stop2:before {
  content: "\ea1e"; }

.icon-arrow-up2:before {
  content: "\ea3a"; }

.icon-arrow-right2:before {
  content: "\ea3c"; }

.icon-arrow-down2:before {
  content: "\ea3e"; }

.icon-arrow-left2:before {
  content: "\ea40"; }

.icon-checkbox-checked:before {
  content: "\ea52"; }

.icon-checkbox-unchecked:before {
  content: "\ea53"; }

.icon-radio-checked:before {
  content: "\ea54"; }

.icon-radio-unchecked:before {
  content: "\ea56"; }

.icon-github:before {
  content: "\eab0"; }

.icon-stackoverflow:before {
  content: "\ead0"; }

.icon-xing2:before {
  content: "\ead4"; }

.icon-file-pdf:before {
  content: "\eadf"; }

@media (max-width: 480px) {
  .hide-s {
    display: none !important; } }

.show-s {
  display: none !important; }
  @media (max-width: 480px) {
    .show-s {
      display: block !important; } }

@media (max-width: 480px) {
  .show-inline-s {
    display: inline !important; } }

@media (max-width: 768px) {
  .hide-m {
    display: none !important; } }

.show-m {
  display: none !important; }
  @media (max-width: 768px) {
    .show-m {
      display: block !important; } }

@media (max-width: 768px) {
  .show-inline-m {
    display: inline !important; } }

@media (max-width: 960px) {
  .hide-l {
    display: none !important; } }

.show-l {
  display: none !important; }
  @media (max-width: 960px) {
    .show-l {
      display: block !important; } }

@media (max-width: 960px) {
  .show-inline-l {
    display: inline !important; } }

@media (max-width: 1200px) {
  .hide-xl {
    display: none !important; } }

.show-xl {
  display: none !important; }
  @media (max-width: 1200px) {
    .show-xl {
      display: block !important; } }

@media (max-width: 1200px) {
  .show-inline-xl {
    display: inline !important; } }

@media (max-width: 624px) {
  .hide-s-m {
    display: none !important; } }

.show-s-m {
  display: none !important; }
  @media (max-width: 624px) {
    .show-s-m {
      display: block !important; } }

@media (max-width: 624px) {
  .show-inline-s-m {
    display: inline !important; } }

@media (max-width: 864px) {
  .hide-m-l {
    display: none !important; } }

.show-m-l {
  display: none !important; }
  @media (max-width: 864px) {
    .show-m-l {
      display: block !important; } }

@media (max-width: 864px) {
  .show-inline-m-l {
    display: inline !important; } }

@media (max-width: 1080px) {
  .hide-l-xl {
    display: none !important; } }

.show-l-xl {
  display: none !important; }
  @media (max-width: 1080px) {
    .show-l-xl {
      display: block !important; } }

@media (max-width: 1080px) {
  .show-inline-l-xl {
    display: inline !important; } }

/* ----------------------------------
 * Layout - general helpers for layout
 *
 * - not bound to a certain sections
 * - for actual sections (header, footer) → section.styl
 * ---------------------------------- */
/* Clearfix */
.cf:before, .clearfix:before, .wrap:before, .wrap-touchy:before, body.cornerpin-center main:before, .cf:after, .clearfix:after, .wrap:after, .wrap-touchy:after, body.cornerpin-center main:after {
  content: "";
  display: table; }

.cf:after, .clearfix:after, .wrap:after, .wrap-touchy:after, body.cornerpin-center main:after {
  clear: both; }

.cf, .clearfix, .wrap, .wrap-touchy, body.cornerpin-center main {
  zoom: 1; }

.wrap, .wrap-touchy {
  margin: 0 auto !important;
  position: relative;
  max-width: 960px; }

@media (max-width: 1031px) {
  .wrap {
    margin-left: 28px !important;
    margin-right: 28px !important; } }

@media (max-width: 624px) {
  .wrap {
    margin-left: 14px !important;
    margin-right: 14px !important; } }

html, body {
  margin: 0;
  padding: 0;
  background: #181818; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  position: relative;
  font-weight: normal;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  padding-top: 194px;
  padding-bottom: 108px;
  box-sizing: border-box;
  background: #151515 url("./bkg.png") 0 0;
  color: white;
  min-height: 100vh;
  line-height: 1.6em;
  font-size: 20px; }
  body.tpad0 {
    padding-top: 180px !important; }
  @media (max-width: 624px) {
    body {
      padding-bottom: 118px; } }
  @media (max-width: 480px) {
    body {
      padding-bottom: 130px; } }
  @media (max-width: 768px) {
    body {
      font-size: 18px; } }
  @media (max-width: 624px) {
    body {
      font-size: 17px; } }

body.hide-header {
  padding-top: 0; }

header, footer, main, nav, section, div, blockquote, pre {
  position: relative;
  margin: 0;
  padding: 0; }

p {
  margin: .4em 0 1.2em; }

section {
  display: block;
  margin: 0 0 20px 0; }

blockquote {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666; }

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden; }

hr {
  margin: 56px 0;
  border: 0;
  border-bottom: 2px solid rgba(181, 232, 83, 0.4);
  color: #b5e853; }

code.highlighter-rouge {
  font-family: Courier New, Courier, monospace;
  color: #b5e853;
  background: rgba(255, 255, 255, 0.05);
  padding: 2px 4px;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
  border-radius: 4px; }

a code.highlighter-rouge {
  display: inline-block;
  line-height: normal; }

a > code.highlighter-rouge {
  text-decoration: underline; }

body.cornerpin-center main {
  box-sizing: border-box !important;
  margin: 0 !important;
  max-width: none;
  overflow: hidden;
  overflow-y: auto; }

body.cornerpin-center {
  display: table;
  padding-top: 180px;
  width: 100%; }
  body.cornerpin-center main {
    display: table-cell;
    vertical-align: middle; }
  body.cornerpin-center footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0; }

@media (min-width: 865px) {
  .justify-wide {
    text-align: justify !important; } }
