@import ./sass/font
@import ../../../node_modules/vuetify/dist/vuetify.min.css

@import ./sass/common
@import ./sass/layout

.helper_reload
    position: absolute
    top: 50%
    left: 0
    font-size: 1.6em
    z-index: 5
    background: #444
    padding: 10px
    border-radius: 5px