@import ./sass/font
@import ../../../node_modules/vuetify/dist/vuetify.min.css

@import ./sass/common
@import ./sass/layout

.helper_reload
    position: absolute
    bottom: 20%
    left: 0
    font-size: 1.6em
    z-index: 5
    background: #ccc
    color: #444
    padding: 10px
    border-radius: 0 5px 5px 0
    box-shadow: 0 2px 10px black

    &:hover
        background: white
