// common variables

$headerHeight: 180 px

// some height dependency
$footerHeight: 108 px
$footerHeightSM: 118 px
$footerHeightS: 130 px


// common vertical and horizontal padding around desktop resolutions
$pad: 28 px
$halfpad: floor( $pad / 2 )

$hackerGreen: #b5e853
$hackerBlue: #63c0f5

$radiusL: 12px
$radiusS: 4px

$darkblue:    # 002 b36 // dark blue-ish
$darkcyan: #073642 // dark cyan-ish

$gray4:       # dad8d2
$gray5: lighten( $gray4, 15 % )

$gray3: darken( $gray4, 30 % )
$gray2: darken( $gray4, 40 % )
$gray1: darken( $gray4, 60 % )


// Solarized colors
$yellow: #b58900
$orange: #cb4b16
$red: #dc322f
$magenta: #d33682
$violet: #6c71c4
$blue:        # 268 bd2
$cyan: #2aa198
$green:       # 859900
